#pokemon{
    width: 220px;
    margin-left: 80%;
    border-color:aquamarine;
    border-style: solid;
    border-width: 50;
}

:root {  --cor-de-fundo: #0,155,167
         --cor-de-fonte: #5474251
}
body {
background-color: var(--cor-de-fundo);
}
h1 {color: var(--cor-de-fonte);
}